<section class="bg-white shadow rounded-lg p-4">
  <h3 class="text-xl font-semibold mb-3">Resumen de costo:</h3>
  <ul class="list-disc list-inside space-y-2 text-gray-700">
    <li><span class="font-medium">Costo de impresión, página separada:</span> <span id="res-costo-simple">₲0</span></li>
    <li><span class="font-medium">Costo de impresión, doble carilla:</span> <span id="res-costo-doble">₲0</span></li>
    <li><span class="font-medium">Monto ahorrado, impresión doble carilla:</span> <span id="res-ahorro">₲0</span></li>
  </ul>
</section>
